.col1{
    background-color: #e02626;
    height: 70px
}
.col2{
    background-color: #ce4c19;
    height: 70px
}
.col3{
    background-color: #e02626;
    height: 70px
}
.col4{
    background-color: #80e026;
    height: 70px
}
.col5{
    background-color: #ce4c19;
    height: 70px
}
.col6{
    background-color: #80e026;
    height: 70px
}
.col7{
    background-color: #a80c8e;
    height: 70px
}
.col8{
    background-color: #ce4c19;
    height: 70px
}
.col9{
    background-color: #a80c8e;
    height: 70px
}
.col10{
    background-color: #ce1989;
    height: 70px
}
.col11{
    background-color: #ce4c19;
    height: 70px
}
.col12{
    background-color: #ce1989;
    height: 70px
}
.col13{
    background-color: #ce4c19;
    height: 70px
}